.postInput {
    margin-top: 10px;
    
}

h2{
    padding-left: 15px;
    font-family:sans-serif;
    font-style: bold;
    color: aqua;
}

.label{
    font-family: sans-serif;
    font-size: medium;
}