article {
    margin-left: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message-header{
    background-color:#00fff2;
    font-family: sans-serif; 
}

.message-body{
    font-family: sans-serif;
}

.post-title {
    font-size: 22px;
}


