p {
    color: black;
}

.menu-label{
    font-size: medium;
    font-weight: bold;
    margin-left: -25px;
    
}

.menu{
    margin-bottom: 80px;
}

.searchBar {
    margin-left: -30px;
}

.search-label {
    padding-top: 2rem;
}

