p {
    color: black;
}

.menu-label{
    font-size: medium;
    font-weight: bold;
    margin-left: -25px;
    
}

.menu{
    margin-bottom: 80px;
}

.searchBar {
    margin-left: -30px;
}

.search-label {
    padding-top: 2rem;
}

aside {
    padding-bottom: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
